<h1>New Game</h1>

<ol>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>

<h2>What's the longest world that you can find?</h2>
<form action="/answer">
  <input type="text" name="answer" placeholder="your word">
  <input type="submit" value="Try!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
