<h1>New Game</h1>
@letters
<h2>What's the logest world that you can find?</h2>
<form action="/answer">
  <input type="text" name="answer" placeholder="What's your longest word?">
  <input type="submit" value="Try!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
